@import url("https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.nav {
    display: flex;
    align-items: center;
    background-color: rgb(240, 237, 237);
    height: 40px;
    padding: 15px;
    border-radius: 10px;
}
.nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.link:hover {
    background-color: #6232fe;
}
.link {
    padding: 10px;
    text-decoration: none;
    border-radius: 7px;
    border: none;
    background-color: #3b82f6;
    color: white;
    position: relative;
    text-decoration: none;
    margin-right: 10px;
    font-family: Inter;
    font-weight: 200;
}
.img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
